---
const startTimer = Date.now();

import Layout from "../../layouts/Layout.astro";
import topics from "../../db/topics.json";

import { registerEvent } from "../../db/db";
registerEvent("pageview", "topics");
---

<Layout title="åt.se">
  {
    topics.map((topic) => (
      <a href={"/topics/" + encodeURIComponent(topic.toLowerCase())}>
        <div class="text-xl text-white font-semibold my-8 flex flex-col">
          <p>{topic}</p>
        </div>
      </a>
    ))
  }

  <p class="text-sm text-gray-500 font-light">
    Loaded {topics.length} topics in {Date.now() - startTimer} ms
  </p>
</Layout>
