---
import Layout from "../../layouts/Layout.astro";
import topics from "../../db/topics.json";
console.log(topics);
---

<Layout title="åt.se">
  {
    topics.map((topic) => (
      <a href={"/topics/" + encodeURIComponent(topic.toLowerCase())}>
        <div class="text-xl text-white font-semibold my-8 flex flex-col">
          <p>{topic}</p>
        </div>
      </a>
    ))
  }
</Layout>
