---
import { getLatestStory } from "../db/db";

const lastest = await getLatestStory();
const latestStory = lastest[0];
---

<div
  id="sticky-banner"
  class="left-0 z-50 flex justify-between w-full p-4 border-b bg-gray-700 border-gray-600 mb-3"
>
  <div class="flex items-center mx-auto">
    {
      latestStory.summary ? (
        <p class="flex items-center text-sm font-normal text-gray-400 flex-wrap">
          <span class="mx-1 font-bold">Senaste nytt</span>

          <span class="mx-1">
            {latestStory.published_at.replace("T", " ").split(".")[0]}
          </span>
          <a
            href={"/stories/" + latestStory.id}
            class="inline font-medium underline text-blue-500 underline-offset-2 decoration-500 decoration-solid hover:no-underline mx-1"
          >
            {latestStory.summary?.title}
          </a>
        </p>
      ) : (
        <p class="flex items-center text-sm font-normal text-white flex-wrap">
          <span class="mx-1 font-bold">
            ⚠️ Senaste nyheter kunde inte hämtas
          </span>
          <span class="mx-1 text-gray-500">-</span>
          <span class="mx-1">
            AI-modeller är dyra att köra, ibland blir det lite knasigt!
          </span>
        </p>
      )
    }
  </div>
</div>
