---

---

<footer class="rounded-lg shadow m-4 bg-gray-800">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <div>
      <span class="text-sm sm:text-center text-gray-400">
        游 친t.se - no rights reserved.
      </span>
    </div>

    <div>
      <span class="text-sm sm:text-center text-gray-400">
        Allt inneh친ll p친 den h칛r sidan 칛r AI-genererat, kontrollera alltid
        k칛llorna.
      </span>
    </div>

    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0"
    >
      <li>
        <a href="/about/faq" class="mr-4 hover:underline md:mr-6">Om 친t.se</a>
      </li>
      <li>
        <a
          href="https://github.com/pierrelefevre/at_se"
          class="mr-4 hover:underline md:mr-6">GitHub</a
        >
      </li>
      <li>
        <a
          href="https://raw.githubusercontent.com/pierrelefevre/at_se/main/LICENSE"
          class="mr-4 hover:underline md:mr-6">License</a
        >
      </li>
    </ul>
  </div>
</footer>
