---
import Layout from "../layouts/Layout.astro";

import {getStories, getGroups} from "../db/db";

let groups = getGroups();
let stories = getStories();

---

<Layout title="åt.se">
  <main>
    <a
      href={"/stories/" + stories[0]?.id}
      style="text-decoration: none; color: inherit"
    >
      <div class="instructions">
        <strong>Senaste nytt</strong>
        <h3>
          {stories[0]?.summary?.title}
        </h3>
        <small>{stories[0]?.published_at.replace("T", " ").split(".")[0]}</small
        >

        <p>{stories[0]?.summary?.body}</p>
      </div>
    </a>

    {
      Object.keys(groups).map((group) => (
        <div style="margin: 1rem; padding: 1rem; background: #282c34">
          <h2>{group}</h2>
          {groups[group].map((storyId, index) => (
            <div>
              <a
                href={"/stories/" + storyId}
                style="text-decoration: none; color: inherit; font-weight: bolder"
              >
                <p>
                  {
                    stories.find((story) => story.id === storyId)?.summary
                      ?.title
                  }
                </p>
              </a>

              {index === 0 && (
                <p>
                  {stories
                    .find((story) => story.id === storyId)
                    ?.summary?.body.split(" ")
                    .slice(0, 20)
                    .join(" ") + "..."}
                </p>
              )}
            </div>
          ))}
        </div>
      ))
    }
  </main>
</Layout>

