---
import Layout from "../layouts/Layout.astro";

import { getStories, getGroups } from "../db/db";

let groups = await getGroups();
let stories = await getStories();

---

<Layout title="åt.se" stories={stories}>
    { groups.map((group, index) => (
        <div class="mb-5">
          <p class="text-5xl font-bold text-white mb-5">{group.name}</p>
          {group.value.map((storyId, index) => (
              <a
                href={"/stories/" + storyId} 
                >
        <div class="text-xl text-white font-semibold my-8 flex flex-col">
                <p>
                  {
                    stories.find((story) => story.id === storyId)?.summary
                      ?.title
                  }
                </p>
          <small class="font-normal text-white my-2 text-sm">{stories
                      .find((story) => story.id === storyId)
                      ?.published_at.replace("T", " ").split(".")[0]}</small>

                  <span class="text-base font-normal">
                    {stories
                      .find((story) => story.id === storyId)
                      ?.summary?.body.split(" ")
                      .slice(0, 20)
                      .join(" ") + "..."}
                  </span>
                </div>
              </a>
          ))}
{index < groups.length-1 &&
          <hr class="h-px my-8  border-0 bg-gray-500">}

        </div>
      ))
    }
</Layout>
